# Compilation Output
*/Debug/*
*/Obj/*

#Unrelated files
STM8L15x-16x-05x-AL31-L_StdPeriph_Lib/Project/Example_I2C/*

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

*.pbd
*.pbw
*.pbi
*.dep
*.xcl
*.ninja
*.ninja_log
*.ninja_deps
*.browse

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
